*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  width: 1600px;
}

.button_design{
    color: #FFFFFF;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    padding: 12.5px 16px 12.5px 16px;
}

.button_design2{
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}

/* for banner's navigation part  */
#banner_section{
    height: 92px;
    background-color: #FFFFFF;
    display: flex;
    margin: 16px 120px 16px 120px;
    align-items: center;
}

.nav_image{
    width: 139px;
    height: 60px;
    margin-right: 346px;
}

.nav_button{
    width: 164px;
    height: 44px;
    margin-left: 346px;
    margin-top: 24px;
}

/* for nav menu/link part  */
.nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
    
}

.nav a{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}

/* for banner's lower part  */
#banner_section2nd{
    height: 674px;
    background:url("../images/cropped-hands-woman-writing-book\ 1.png")
    
}

#banner_section2nd_text{
    width: 1360px;
    height: 379px;
    padding: 115.5px 120px 179.5px 120px;
    text-align: center;
}

#button_head1{
    margin-top: 32px;
    margin-right: 16px;
}

#button_head2{
    margin-top: 32px;
}

.heading{
    width: 229px;
    height: 35px;
    margin-bottom: 16px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 1000px;
    align-items: center;
    margin-left: 565.5px;
}

.heading h4{
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 12px 8px 34px;
}

.text_button h1{
    font-size: 50px;
    font-weight: bolder;
}

.text_button p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
    color: #FFFFFF;
}

#upper{
    color: #FFFFFF;
}

#lower{
    color: #30B868;
    margin-bottom: 16px;
}

/* for heading and card bellow banner  */
#heading_card_container{
    width: 1600px;
    height: 448px;
}


#heading_bellow_banner{
    width: 1360px;
    height: 152px;
    margin: 0 120px 0 120px;
    text-align: center;
}

#heading_bellow_banner h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
    margin-top: 36px;
}

#heading_bellow_banner p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

/* for card section  */
#card_main_box{
    width: 1600px;
    height: 448px;
    margin: 44px 120px 0 120px;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;

}

#card{
    width: 322px;
    height: 300px;
    padding: 69.5px 24px 69.5px 24px;
    background-color:#FFFFFF;
    box-shadow: 0px 0px 8px #00000015;
    border: none;
    border-radius: 8px;
}

.card_context{
    text-align: center;
}


.image{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


#card_main_box h4{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-top: 16px;
}

#card_main_box p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}

/* for brain main container  */
#brain_main_container{
    width: 1600px;
    height: 840px;
    background-color: #FFFFFF;
    padding: 120px 120px 120px 120px;
    margin-top: 5px;
    position: relative;
}


/* for brain image and menu  */
#brain_sub_container{
    width: 1360px;
    height: 600px;
    display: flex;
    gap: 60px;
}


.brain_image{
    width: 600px;
    height: 600px;
}

.brain_menu_container{
    width: 700px;
    height: 396px;
    padding: 102px 0;

}

.selection_list{
    width: 700px;
    height: 128px;
}

.selection_list li{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #000000bd;
    list-style: none;
    margin-bottom: 16px;
}

/* for main bellow section   */
.main_bellow{
    width: 1360px;
    height: 384px;
    background-color: #F7F6F2;
    border: none;
    border-radius: 12px;
    margin: 2px 120px 120px 120px;
    text-align: center;
    
}

.main_bellow p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
}